<h1>IMS</h1>

<p><input type="text" [(ngModel)]="command">
  <button (click)="click()">Submit</button></p>
<p><textarea rows="20" cols="130" name="text" [(ngModel)]="response" readonly></textarea></p>

<h1>DB2</h1>

<p><input type="text" [(ngModel)]="commanddb2">
  <button (click)="clickdb2()">Submit</button></p>
<p><textarea rows="20" cols="130" name="text" [(ngModel)]="responsedb2" readonly></textarea></p>

<h1>FTP</h1>

<p><input type="text" [(ngModel)]="commandftp">
  <button (click)="clickftp()">Submit</button></p>
<p><textarea rows="20" cols="130" name="text" [(ngModel)]="responseftp" readonly></textarea></p>

